@font-face {
    font-family: 'Comic';
    src: url('ComicSans.ttf') format('woff')
}

.background{
    background-color: rgb(57, 32, 80);
    color: white;
    font-family: Comic;
    font-style: normal;
    clear: both;
}

.header{
    margin: 0;
    font-size: 70px;
    padding: 0 60px;
    color: rgb(146, 144, 144);
}

.lineBottomParent{
    display: flex;
    align-items: start;
}

.lineBottomVertical {
    border:  2px solid;
    border-color: rgb(146, 144, 144);
    margin-bottom: 0;
    margin-left: 0;
    height:10px;
    display: inline-block;
}

.lineBottom{
    margin-right: 0;
    margin-left: 60px;
    color: rgb(146, 144, 144);
    width: 55.7%;
    border: 2px solid;
}

.parentCard{
    margin: 0 60px 0 60px ;
    display: flex;
}

.card{
    width: 80%;
    border-radius: 20px;
    background-color: rgb(146, 144, 144);
    height: 750px;
    flex-grow: 1;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.leftOfCard {
    width: 20%;
    height: 750px;
    align-items: center;
}

.leftHr{
    color: rgb(124, 122, 122);
    align-content: start;
    border: 1px solid;
    border-radius: 10px;
}

.leftTxt{
    margin-top: 30%;
    margin-bottom: 0;
}

.lineCenter{
    border:  2px solid;
    border-color: rgb(57, 32, 80);
    margin: 0;
    height: 700px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 100px;
    display: inline-block;
}

.amirContent{
    width: 50%;
    display: inline;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.erfanContent{
    width: 50%;
    display: inline;
    justify-content: start;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.headSection{
    border-radius: 10px;
    padding: 4px 0;
    margin: 20px 10px;
    font-size: 15px;
    color:white;
    text-align: center;
    font-weight: 500;
    background-color: rgb(57, 32, 80);
}

p {
    margin: 5px 10px;
    color: rgb(57, 32, 80);
    font-size: 12px;
    justify-content: start;
}

.skill-grid {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    align-content: center;
    width: 100%;
}

.skill-box {
    background-color: rgb(57, 32, 80);
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.iamge {
    margin-left: 40px;
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.parentimage div{
    align-content: center;
    margin-left: 30px;
}

.name {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: normal;
}

.parentimage{
    text-align: start;
    justify-content: start;
    display: flex;
}

